.main{
    margin-left: 15vh;
    font-size:5mm;
}
.logo{
    margin-bottom: 10px;
    width: 10%;
}
#as{
    margin: 100px;
    font-size: 8mm;
    color: white;
}
.button{
    padding: 8px;
    margin-top: 25px;
    margin-left: 65vh;
    border-radius: 8px;
    background-color: rgb(0, 102, 255);
    color: white;
}
.text_box1{
    border: 2px solid black;
    padding: 3px;
    margin: 15px;
    margin-left: 24vh;
}
.text_box2{
    border: 2px solid black;
    padding: 3px;
    margin: 15px;
    margin-left: 12.5vh;
}
.text_box3{
    border: 2px solid black;
    padding: 3px;
    margin: 15px;
    margin-left: 20vh;
}
.text_box4{
    border: 2px solid black;
    padding: 3px;
    margin: 15px;
    margin-left: 19vh;
}
a[href="index.html"]{
    color:white;
    padding-right: 7px;
    font-size: large;
}
a[href="image.html"]{
    color:white;
    padding-right: 5px;
    font-size: large;
}
